.table__row.table__header
  div Номер
  div Название
  div Ip
  div
  div.table__btns
    button.btn__power( onclick="switchStatusForAll('on')") Включить все
    button.btn__power( onclick="switchStatusForAll('off')" ) Выключить все