body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;

    --color-primary: #2e7488;
    --color-primary-light: #6396a4;
}

.table__body {
    border: 1px solid #000000;
}

.table__header {
    font-weight: 500;
    background-color: var(--color-primary) !important;
}

.table__summary_btns {
    grid-column-start: 5;
    grid-column-end: 6;
}

.table__btns {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.table__row{
    background-color: var(--color-primary-light);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    min-height: 40px;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid var(--color-primary);
}

.table__row:hover {
    background-color: #63a5b7;
}

.btn__power {
    width: 200px;
    padding: 8px;
    border-radius: 8px;
    border: 0;
    color: #fff;
    background: #81C784;
    cursor: pointer;
}

.btn__power.active {
    color: #fff;
    background: #3030ff;
}

/* стилизация details общая - начало */

summary::-webkit-details-marker {
    display: none;
}

summary {
    list-style: none;
}

.summary__title::after {
    content: "\203A";
    margin-left: 10px;
    transition: transform .3s;
}

details .table__row div:first-child {
    padding-left: 32px;
}

details .table__row:first-child div:first-child {
    padding-left: 0px;
}


/* стилизация details общая - конец */
